.python-version
.venv
.env
.newenv
newenv/*
__pycache__/
*.pyc
bun.lockb
**/.DS_Store
.aider*
secrets.toml
**/.vim/
**/node_modules
kub.yaml
loadtest_kub.yaml
venv/
.codegpt
.mypy_cache/*
.cursor
.vscode/launch.json
